/*
COLORS
#f3e460
#e59e7a
#d75893
#7f3d69
#26213e */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

.start {
  font-size: 1.25rem;
}

button {
  color: #f3e460;
}

h1 {
  color: #f3e460;
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}


span {
  display: block;
}

em {
  color: #d75893;
  font-style: normal;
}

em::after {
  content: '';
  border: 1px solid white;
  color: white;
  animation: blink .7s infinite;
}

@keyframes blink {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}