/*
COLORS
#f3e460
#e59e7a
#d75893
#7f3d69
#26213e */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');



button {
  color: #f3e460;
}

h1 {
  color: #f3e460;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  margin: 5rem auto;
}


span {
  display: block;
}

em {
  color: #d75893;
  font-style: normal;
}

em::after {
  content: '';
  border: 1px solid white;
  color: white;
  animation: blink .7s infinite;
}

@keyframes blink {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
  color: #f3e460;
}

footer a {
  margin: 0 auto;
}

svg {
  width: 20px;
}