html,
body {
  height: 100%;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  margin: 0;
  padding: 0;
  background: #2C3037;
  color: white;
}

button {
  background-color: #414B55;
  color: #fff;
  padding: 0 45px;
  border: 2px solid #fff;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: #2B2F35;
}